<div id="<%= dom_id slider %>">
  <p>
    <strong>Name:</strong>
    <%= slider.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= slider.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= slider.status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= slider.category_id %>
  </p>

</div>
