<div id="<%= dom_id product_image %>">
  <p>
    <strong>Name:</strong>
    <%= product_image.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product_image.image %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product_image.status %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_image.product_id %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= product_image.vendor_id %>
  </p>

</div>
